.articles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .article-card {
    width: 200px;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
  }
  
  .article-card:hover {
    transform: scale(1.05);
  }
  
  .article-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  .article-card p {
    margin-top: 10px;
    color: #333;
  }
  
  .dark .article-card p {
    color: #ddd;
  }
  